<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GenDigestServerSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>GenError.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>GenFixPrivs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>GenServerSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>INFO_BIN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>INFO_SRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>archive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>audit_log.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>audit_null.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>auth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>auth_test_plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>basic-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>binlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>blackhole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>bug25714.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>clientlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>comp_err.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>comp_sql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>conf_to_src.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>csv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ctags.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>daemon_example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>dbug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>dist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>distclean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>federated.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ftexample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>gen_lex_hash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>gen_lex_token.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>handlersocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>heap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>heap_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>hp_test1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>hp_test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>hsclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>innobase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>innochecksum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libfnv1a_udf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>libfnv_udf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>libmurmur_udf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>libmysql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>my_print_defaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>my_safe_process.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>myisam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>myisam_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>myisam_ftdump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>myisamchk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>myisamlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>myisammrg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>myisammrg_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>myisampack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>mysql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>mysql_client_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>mysql_client_test_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>mysql_config_editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>mysql_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>mysql_no_login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>mysql_plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>mysql_tzinfo_to_sql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>mysql_upgrade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>mysql_waitpid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>mysqladmin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>mysqlbinlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>mysqlcheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>mysqld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>mysqldump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>mysqlimport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>mysqlserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>mysqlservices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>mysqlshow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>mysqlslap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>mysqltest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>mysqltest_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>mysys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>mysys_ssl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>mytap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>no_plan-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>partition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>partition_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>perconaserverclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>perfschema.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>perror.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>pfs-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>pfs_account-oom-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>pfs_connect_attr-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>pfs_host-oom-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>pfs_instr-oom-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>pfs_instr-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>pfs_instr_class-oom-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>pfs_instr_class-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>pfs_server_stubs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>pfs_user-oom-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>qa_auth_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>qa_auth_interface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>qa_auth_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>query_response_time.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>queues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>re.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>regex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>replace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>resolve_stack_dump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>resolveip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>rpl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>scalability_metrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>semisync_master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>semisync_slave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>show-dist-name.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>simple-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>skip-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>skip_all-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>slave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>sql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>sql_embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>sqlgunitlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>strings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>symlink_libperconaserverclient_r.18.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>symlink_libperconaserverclient_r.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>symlink_libperconaserverclient_r.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>tags.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>taocrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test-mtr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>test-unit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>thr_lock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>todo-t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>udf_example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>validate_password.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>vio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>yassl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>012601B9821A457AB32FF7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070353B83B3547D2ABEF7DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08FF77935CA84E7CB703A3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CFEF0D7EA5045279A99FD9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D4A62F2CE3F4A6DA150C075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE15D6530C145E9AA9B8E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DEC7CE7AA824F23A2D52860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1287ACAE830C448681EEB220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130177F0CC26441CB9E6A425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1384960749DD4C5CB9132BE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>142A0812B17D47DCB6009948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15F2A85B44A44A408A27FF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B4A1B3B8F344669BBF9B35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC69092870C497CAB354DFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AF4BED9BB034D72808CD19D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4B6CD7246440DAA4D13058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBFCFF522F649A1B8528C2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DE2548934994A8AA8B6587A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22853BF40043474688C7F92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23496E125B494DAC9B871732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A2F045898648CF913ADD81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A04967A022E41CA8D67861C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A9CBE173366443992AC4EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB21B7B9204201AFFC8A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EC0FBE3F7E54978A13CF4E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFC98E886734C3EA6DC78FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FE20080179A4582887D02EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E07A79D80F465795703D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343EB4C75FC543A0AC5BF4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349B004F71AD4A428D7111A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>378C95C81E12473BBD59C832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37DB056D70084557B1935AB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E270BC2E3B49008E72B35C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BD8BE7D552C40DE9C41EDF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4027449A68584666806A7106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40FB2E900958477094D4888B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41F24C27E3F74AF9B18B25E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C70AC2A7514035BA250E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4362AE423FED43CDA5201EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44C16623DFB54585A1DDD4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45054C05E31D4E9487A08F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>458664153D5A416E9FEA1243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48EACBA716CF46DFBB2D5F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EB722B23D64EB1B3117B1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F121BDCB943420A81E7C6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53DFD69E11894DFBAA934227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55119AACCF3245148AD0F072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56ABFED16B8E4BC9AC34F192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C17A0B9B1A94D7FAE791E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1A815908A2465D9ECEE014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8726DCB83346A1B58F84C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DFE79BF77D8459EB2E53385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FFF6E30A354464A842BF990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>628A915870354DCAB3D58070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6755CEB82E7B4299A71F8467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680237FC31FA4F7B82C855A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B17B4616BBC4CD1A87201B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6DD94E795649B6B22DB0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC99FA3F9124C5B96BAB63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712C089BAD5F4E12ACFB23BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723141A4B592491D965BCEEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E942B7E34F40E4BEF5B59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7468660CE6F84C61836D5589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F1BB2E4A884AE282501C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>756E07474B4A421BBB28E35C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76377B9C348A4F5ABBF295C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777F87ECD60A48A6A13FE167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7936A85449C848E491C7F1DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFB500648FE4F769BE186EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E409152E6BB44B1A62BC4A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EC241420F934D90B0C2CA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8172891A6E424CCA93273ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82837233FC6D4C6E8072E6A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82C83086D5E244308F7CD475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8355BF168F4C48099315A77D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84810C691A9840279FFB8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8667A745B47F4863AE941002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86EA26016774404497B4324E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F0EEB3B9CF426A9F305C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A67F6A8FABA4A4AA004E217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7D923073F24D97B33B302B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D529FE629A044498C319948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC7A0D48F214239945272DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C61038B690412BBCD3D87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9332FDA5D621408BA0070194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A58FEB5F89415C826E3A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96BA75A50A4E4C45958072E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F2B029E626413B9236F59A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978B62EF99FA45049C0E7BA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>980264F81E5F462DA92E8E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ACBA1B5B369486896D9BC33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC6CC94BCDF4ECA9E725B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0A9FD7F08443D6BABF75E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D3E4243829748F1A650A64C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB9B0720FD447E8B1A1C975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A523E7502D5E4CE28BAC1C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66B90C502F34B5789018686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC3882CF80C47B9A2BE3C9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC9DD99EDF3645C5A39E9ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD422EF765DB4F4E8B6A46B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0EA62B585444DFFB75EF1B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7ABD66E9E74D179F3FFDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C030FCEC9DB2490EB61E0762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1E78D6226064B81B46969DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4072DFA8BC647DF90434556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5AC17F7777747AFB8DE046D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C760C54379DB4D72BA59CC74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2C38709F1B49FD88F8BDD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEAEF5B64564B84844AA012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1286DEDBCD4D069D95B669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D177A101FA4245D098A8DD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D786EAC953D34576BDF925FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8907B8CF0A84BD3980E1C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8BAD467A94B416EA4EEF2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C2047ADBFA4B91B113D9C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E0C89174364678BEE1F3D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAAF93E2EE5A497EA8E7D308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB9C65597C1343D6969E40FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC5C18F436004CB285B2F0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD00806CC8DC4F509D3725D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2048961446245949693AECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E38123988E0E416DA0CFB115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68CC90A687045C39EBFC30B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CEAF63F1684061B78E5641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DF253B4117476AA8FE6F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E82BDC801DA9481997EFFC01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED8645EFAA504DFCAA5549DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0BA41032D8B4C5E8A090D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F247C8B43CA545278CF23A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4280BC503604EED8A44AE1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F552C11C6DA1480690EC82E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B14395EEC0485DB8B56A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7BEF42598B445D3AF4A3AD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF5CE66DC5A40CDA1EBEC4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBADCA8CEA714E06A34D8CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
